<?xml version="1.0" encoding="utf-8" ?>
<!--For all properties see: http://developer.android.com/guide/topics/resources/menu-resource.html-->
<menu xmlns:android="http://schemas.android.com/apk/res/android">
  <group android:checkableBehavior="single"
      android:id="@+id/grp1">
    <item
      android:id="@+id/nav_Home"
      android:icon="@drawable/home"
      android:title="Home" />
    <item
      android:id="@+id/nav_OperList"
      android:icon="@drawable/small_operation"
      android:title="Operation Lst" />
    <item
      android:id="@+id/nav_pickUp"
        android:icon="@drawable/small_pickup"
      android:title="Pick Up" />
    <item
      android:id="@+id/nav_delivery"
        android:icon="@drawable/small_delivery"
      android:title="Delivery" />
    <item
      android:id="@+id/nav_loading"
      android:icon="@drawable/small_loading"
      android:title="Loading" />    
    </group >
	<group checkableBehavior="none"
      android:id="@+id/grp2">
	<item
      android:id="@+id/nav_Logout"
      android:icon="@drawable/icon_exit"
      android:title="Logout" />
	</group>
</menu>

<!-- Code to implement into Activity:

Android.Widget.SearchView searchView;
public override bool OnCreateOptionsMenu(IMenu menu)
{
  this.MenuInflater.Inflate(Resource.Menu.menu, menu);

  var searchItem = menu.FindItem(Resource.Id.action_search);

  searchView = searchItem.ActionProvider.JavaCast<Android.Widget.SearchView>();

  searchView.QueryTextSubmit += (sender, args) =>
  {
    Toast.MakeText(this, "You searched: " + args.Query, ToastLength.Short).Show();

  };


  return base.OnCreateOptionsMenu(menu);
}

-->